<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="On"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <!--
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  -->

  <appSettings file="HiddenSettings.config">
    <add key="BC_READ_TOKEN" value="ThisWillBeOverriddenAtRuntimeByYourSecretValue" />
    <add key="BC_READ_TOKEN_MALMO" value="ThisWillBeOverriddenAtRuntimeByYourSecretValue" />
    <add key="BC_READ_TOKEN_KF" value="ThisWillBeOverriddenAtRuntimeByYourSecretValue" />
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="RESTFulNotes.wcf">
        <endpoint address="" binding="webHttpBinding" contract="RESTFulNotes.Iwcf" behaviorConfiguration="EndpointBehavior">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>

</configuration>